<div class="wrapper">
  <sa-Sidemenu></sa-Sidemenu>


    <div class="main-panel">
      <sa-Header></sa-Header>
        <div class="content">
            <div class="container-fluid">
              <sa-Website-Selector></sa-Website-Selector>

              <div ng-if="App.APIKey" class="card">
                  <div class="content">
                    <div class="row">
                      <form ng-submit="EditWebsite()">
                        <div class="col-md-6">
                            <div class="form-group">
                              <label>App Name</label>
                              <input ng-model="App.Name" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                              <label>APIKey</label>
                              <input disabled value="{{App.APIKey}}" class="form-control">
                            </div>
                        </div>

                        <div class="col-md-12 ">
                            <div class="form-group">
                              <label>Include Script</label>
                              <textarea disabled class="form-control"><script src="{{HOST}}SuperArdorAnalytics.js"  APIKey="{{App.APIKey}}"></script></textarea>
                            </div>
                            <div class="text-center">
                            <button type="submit" class="btn btn-info btn-fill">Update Profile</button>

                        </div>

                      </form>
                    </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
<!--  Charts Plugin -->
<script src="assets/js/chartist.min.js"></script>

<!--  Notifications Plugin    -->
<script src="assets/js/bootstrap-notify.js"></script>

<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="assets/js/light-bootstrap-dashboard.js"></script>

<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
<script src="assets/js/demo.js"></script>

<script type="text/javascript">
  $(document).ready(function(){

      demo.initChartist();

      $.notify({
          icon: 'pe-7s-gift',
          message: "Welcome to <b>Light Bootstrap Dashboard</b> - a beautiful freebie for every web developer."

        },{
            type: 'info',
            timer: 4000
        });

  });
</script>
