<div id="websiteSelector" class="card">
    <div class="content text-center">
      <label class="">Select your App</label>
      <div class="row">

            <div class="col-sm-8">
                <div class="form-group">

                  <select ng-model="currentWebsite" class="form-control">
                   <option ng-repeat="website in websites" value="{{[website]}}">{{website.Name}}</option>

                  </select>
                </div>
            </div>
            <div class="col-sm-4">
              <div class="col-xs-6">
                  <div>
                    <button ui-sref="EditWebsite" class="form-control btn btn-primary"><i class="pe-7s-edit"></i> Edit</button>
                  </div>
              </div>
              <div class="col-xs-6">
                  <div>
                    <button ui-sref="AddWebsite" class="form-control btn btn-primary"><i class="pe-7s-plus"></i> New</button>
                  </div>
              </div>
            </div>

        </div>
    </div>
</div>
<button ng-click="goToWebsiteSelector()" class="btn btn-fill btn-danger pe-7s-angle-up-circle" style="position:fixed;z-index:100;bottom:10px; right:20px;"></button>
