<div class="wrapper">
  <sa-Sidemenu></sa-Sidemenu>


    <div class="main-panel">
      <sa-Header></sa-Header>
        <div class="content">
            <div class="container-fluid">
              <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header" style="padding: 20px;">
                                <h4 class="title">Logs Of <a href="{{Logs[0].URL}}" target="_blank">{{Logs[0].URL}}</a> </h4>

                            </div>

                        </div>
                        <div ng-if="Logs.length" class="row">
                                <div class="col-sm-6">
                                    <div class="card text-center">
                                        <div class="header">
                                            <h5 class="title">Total Hits </h5>
                                        </div>
                                        <div class="content">
                                         <h3 style="margin-top:0px;">{{AllLogs.length}}</h3>
                                         <button class="form-control btn btn-primary pe-7s-menu" ng-click="setToAll()"> View</button>
                                        </div>
                                    </div>
                                </div>

                                  <div class="col-sm-6">
                                      <div class="card text-center">
                                          <div class="header">
                                              <h5 class="title">Unique Visitors </h4>
                                          </div>
                                          <div class="content">
                                           <h3 style="margin-top:0px;">{{uniqueVisitors.length}}</h3>
                                           <button class="form-control btn btn-primary pe-7s-menu" ng-click="setToUniques()"> View</button>
                                          </div>
                                      </div>
                                  </div>
                            </div>
                            <!--div class="card">
                                <ng-map
                                  center = "[{{ Locations[0].Lat }},{{ Locations[0].Lng }}]"
                                  zoom="4"
                                  tilt="45"
                                  heading="90"
                                  style="width:100%;"
                                >
                                  <marker ng-repeat="Location in Locations" animation="DROP" position="[{{ Location.Lat }},{{ Location.Lng }}]"></marker>
                                </ng-map>
                            </div-->
                    </div>
                </div>

                <div id="Logs" class="row">
                      <div class="col-md-12">
                          <div class="card">
                              <div class="header">
                                  <h4 class="title">Recent Visits</h4>

                              </div>
                              <div class="content table-responsive table-full-width">
                                  <table class="table table-hover table-striped">
                                      <thead>
                                        <tr><th>ID</th>
                                      	<th>IP</th>
                                        <th>Visited On</th>
                                        <th>Time Spent</th>
                                      	<th>Address</th>
                                      	<th>Country</th>
                                        <th>         </th>
                                      </tr></thead>
                                      <tbody>
                                          <tr ng-repeat="Log in Logs">
                                          	<td>{{ Log.ID }}</td>
                                          	<td><a ui-sref="LogsInfoIP({IP:Log.IP})">{{ Log.IP }}</a></td>
                                            <td>{{ Log.DateTime }}</td>
                                            <td>
                                              <span ng-if="Log.Time">{{ Log.Time }} sec</span>
                                              <span ng-hide="Log.Time">Not Available</span>
                                            </td>
                                          	<td>{{ Log.Address }}</td>
                                          	<td>{{ Log.Country }}</td>
                                            <td><a ui-sref="LogsInfo({ID:Log.ID})" class="pe-7s-more"></a></td>
                                          </tr>

                                      </tbody>
                                  </table>
                              </div>
                          </div>

                      </div>
                  </div>

            </div>
        </div>
    </div>
<!--  Charts Plugin -->
<script src="assets/js/chartist.min.js"></script>

<!--  Notifications Plugin    -->
<script src="assets/js/bootstrap-notify.js"></script>

<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="assets/js/light-bootstrap-dashboard.js"></script>

<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
<script src="assets/js/demo.js"></script>

<script type="text/javascript">
  $(document).ready(function(){

      demo.initChartist();

      $.notify({
          icon: 'pe-7s-gift',
          message: "Welcome to <b>Light Bootstrap Dashboard</b> - a beautiful freebie for every web developer."

        },{
            type: 'info',
            timer: 4000
        });

  });
</script>
