<ms-Sidemenu></ms-Sidemenu>
<div class="main-content" style="padding-top:10px;">
  <div id="page-wrapper">
    <div class="graphs">
    <div class="panel-body1">
	   <div class="text-center">
		  	<h2>Settings</h2>
		 </div>
	    <form class="form-horizontal">
        <div class="col-sm-12 text-center">
          <div class="form-group">
						<label for="focusedinput" class="col-sm-2 control-label">Host</label>
						<div class="col-sm-8">
							<input type="text" ng-model="host" class="form-control1" id="focusedinput" placeholder="localhost or xxx.xxx.xx.xxx">
						</div>
						<div class="col-sm-2 jlkdfj1">
							<p class="help-block">IP or Domain</p>
						</div>
					</div>
          <button ng-click="SaveHost()" class="btn btn-warning fa fa-save col-xs-12 col-sm-3 col-sm-offset-4"> Save </button>
        </div>
        <div class="clearfix"></div>

		</form>
	  </div>
	  </div>
  </div>
</div>
