<div class="wrapper">
  <sa-Sidemenu></sa-Sidemenu>


    <div class="main-panel">
      <sa-Header></sa-Header>
        <div class="content">
            <div class="container-fluid">
              <div class="card">
                  <div class="content">
                    <div class="row">
                      <form ng-submit="AddWebsite()">
                        <div class="col-xs-8 col-md-10">
                            <div class="form-group">
                              <input ng-model="Name" class="form-control" placeholder="Name of Website or App">
                            </div>
                        </div>
                        <div class="col-xs-4 col-md-2">
                            <div>
                              <button ng-disabled="APIKey" type="Submit" class="form-control btn btn-primary pe-7s-check"></button>
                            </div>
                        </div>
                      </form>
                    </div>
                  </div>
              </div>

              <div ng-if="APIKey" class="card">
                  <div class="content">
                    <div class="row">
                      <form ng-submit="AddWebsite()">
                        <div class="col-xs-8 col-md-10">
                          <div class="form-group">
                            <label>Include Script</label>
                            <textarea disabled="" class="form-control ng-binding">&lt;script src="{{HOST}}SuperArdorAnalytics.js"  APIKey="{{APIKey}}"&gt;&lt;/script&gt;</textarea>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
